# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="postgresql://postgres:password@localhost:5432/sociall"
COOKIE_NAME=093847asdfjaslf98978
UPLOADTHING_SECRET="nothing"
UPLOADTHING_APP_ID="nothing"
NEXT_PUBLIC_UPLOADTHING_APP_ID="nothing"
UPLOADTHING_TOKEN="nothing"
NEXT_PUBLIC_STREAM_KEY="nothing"
STREAM_SECRET="nothing"

GOOGLE_CLIENT_ID="831872596339-nothing.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="as-l-nothing"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
